/* Header buttons */

.custom-btn {
  color: white;
  font-size: 1.2rem;
}
.custom-btn :hover {
  color: white !important;
  background-color: #3e6d9c;
}

/* Header2 */

.header {
  overflow: hidden;
  background-color: #001253;
  opacity: 1;
  position: sticky;
  top: 0;
  z-index: 3;
  font-family: "Mate", serif;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 16px 15px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

#geri {
  font-weight: 100;
}

.header-right a:hover {
  background-color: white;
  color: #001253;
}

.header-right {
  float: right;
}

/* Jumbotron */
body > div.d-flex {
  padding-top: 4rem;
  font-family: "Mate", serif;
}




@media screen and (max-width: 430px) {
  body > div.header > a {
    font-size: 1.3rem !important;
  }
  .header a {
    padding: 16px 8px;
    font-size: 17px;
  }

  body > div.d-flex > div > div.lc-block > div > h1{
    font-size: 13vh !im
    portant;
  }
#mobile-pic{
  display: none;
}
}

@media screen and (min-width: 431px) {
 #desktop-pic{
  display: none;
} 
}
